@page
@using ZooBazaar_DomainModels.Models;
@model ZooBazaar_ASP_NET.Pages.AnimalListModel
@{
    ViewData["Title"] = "Animal List";
    ViewData["TabName"] = "Animal List";
    ViewData["Css"] = "~/css/AnimalList.css";
}

<div id="container">
    <div class="navigation">
        <form method="post">
            <select class="dropdownSpecies">
                @foreach (var specie in Enum.GetValues(typeof(SPECIESTYPE)))
                {
                    <option>@specie.ToString()</option>
                }
            </select>
            <select>
                <option>aaa</option>
                <option>bbb</option>
            </select>
            <select>
                <option>aaa</option>
                <option>bbb</option>
            </select>
            <select>
                <option>aaa</option>
                <option>bbb</option>
            </select>
        </form>

    </div>
    <div class="sortingMenu">
        <div class="sortOption Name">
            Name
        </div>
        <div class="sortOption Species">
            Species
        </div>
        <div class="sortOption Habitat">
            Habitat
        </div>
        <div class="sortOption Zone">
            Zone
        </div>
    </div>
    <div class="list">
        @{
            foreach(Animal animal in Model.animals)
            {
                <div class="animal">
                    <div class="animalName">
                        @animal.Name
                    </div>
                    <div class="animalSpecies">
                        @animal.Species
                    </div>
                    <div class="animalHabitat">
                        @animal.Habitat.ToString()
                    </div>
                    <div class="animalZone">
                        @animal.Zone.ToString()
                    </div>
                </div>
            }
        }
    </div>
    <div class="actionPanel">
    </div>
</div>


<script>

    function sortAnimals(column)
    {
        if (sortedColumn == column) {
            sortingFactor *= -1;
        }
        else{
            sortedColumn = column;
            sortingFactor = 1;
        }
        let animals = document.querySelectorAll('.animal');
        let animalsArray = Array.prototype.slice.call(animals, 0);
        animalsArray.sort((a, b) => (a.children[column].innerHTML > b.children[column].innerHTML ? 1 * sortingFactor : -1 * sortingFactor));
        console.log(column);
        let list = document.querySelector('.list');
        list.textContent = '';

        for (let i = 0; i < animals.length; i++) {
            list.appendChild(animalsArray[i]);
        }
    }

    let sortedColumn = -1;
    let sortingFactor = 1;

    document.querySelectorAll('.sortOption').forEach(item => {
        item.addEventListener('click', event => {
            sortAnimals(Array.from(item.parentNode.children).indexOf(item));
        });
    })

</script>