@page
@model ZooBazaar_ASP_NET.Pages.UnavailabilityScheduleModel
@{
    ViewData["Title"] = "Unavailability Schedule";
    ViewData["TabName"] = "Unavailability Schedule";
    ViewData["Css"] = "~/css/UnavailabilitySchedule.css";
}

<div id="container">
    <div class="navigation">
        <form method="post">
            @{
                if (DateTime.Now.CompareTo(new DateTime(Model.year, Model.month, 1)) > 0)
                {
                    <button disabled>&#60;</button>

                }
                else
                {
                    <button asp-page-handler="previous" asp-route-month="@(Model.month-1)" asp-route-year="@Model.year">&#60;</button>
                }
            }
            <button asp-page-handler="today">Today</button>
            <button asp-page-handler="next" asp-route-month="@(Model.month+1)" asp-route-year="@Model.year">></button>
        </form>

    </div>
    <div class="date">
        @Model.month.@Model.year
    </div>
    <form method="post" class="month">
        @foreach (var x in Model._generator.days)
        {
            if (x.Month != -1)
            {
                //if (Model.schedule[i][j] != null && Model.schedule[i][j].timeBlockId == j)
                //{
                //    <button asp-page-handler="delete" asp-route-delete="@x.Day.ToString()" class="dayOfMonth">@x.Day.ToString()</button>
                //}
                //else
                //{
                if (@Model.unavailabilityList.Where(p => p.Date.Day == x.Day).ToList().Any())
                {
                    <button asp-page-handler="delete" asp-route-month="@Model.month" asp-route-year="@Model.year" asp-route-day="@x.Day" class="dayOfMonth unavailable">@x.Day.ToString()</button>
                }
                else
                {
                    <button asp-page-handler="create" asp-route-month="@Model.month" asp-route-year="@Model.year" asp-route-day="@x.Day" class="dayOfMonth">@x.Day.ToString()</button>
                }
                //}
            }
            else
            {
                <button class="dayOfMonth" disabled>@x.Day.ToString()</button>
            }
        }
    </form>
    <div class="actionPanel">
        @Model.amountOfUnavailableDays / @Model.maxAmountOfUnavailableDays
    </div>
</div>
