@page
@using ZooBazaar_DomainModels.Models;
@model ZooBazaar_Desktop_App.Pages.AnimalListModel
@{
    ViewData["Title"] = "Animal List";
    ViewData["TabName"] = "Animal List";

    ViewData["Css"] = "~/css/animalLists.css";
}

<div id="container">
    <div class="navigation">
        <form class="searchingForm" method="post">
            <input asp-for="Name" type="text"/>
            <button asp-page-handler="Name">Search</button>
            <input asp-for="Species" type="text" />
            <button asp-page-handler="Species" type="submit">Search</button>
            <input asp-for="Habitat" type="text" />
            <button asp-page-handler="Habitat" type="submit">Search</button>
            <input asp-for="Zone" type="text" />
            <button asp-page-handler="Zone" type="submit">Search</button>
        </form>

    </div>
    <div class="sortingMenu column">
        <div class="sortOption Name">
            ID
        </div>
        <div class="sortOption Name">
            Name
        </div>
        <div class="sortOption Species">
            Species
        </div>
        <div class="sortOption Habitat">
            Habitat
        </div>
        <div class="sortOption Zone">
            Zone
        </div>
    </div>
    <div class="list">
        @{
            foreach(Animal animal in Model.animals)
            {
                <div class="entity column">
                    <div class="entityName">
                        @animal.ID
                    </div>
                    <div class="entityName">
                        @animal.Name
                    </div>
                    <div class="entitySpecies">
                        @animal.Species
                    </div>
                    <div class="entityHabitat">
                        @animal.Habitat.ToString()
                    </div>
                    <div class="entityZone">
                        @animal.Zone.ToString()
                        <a type="button" asp-page="./AnimalDetails" asp-route-postId="@animal.ID" class="editBtn">. . .</a>
                    </div>
                </div>
            }
        }
    </div>
    <div class="actionPanel">
        <a type="button" asp-page="./AddAnimal" class="addBtn"> ADD</a>
    </div>
</div>


<script>

    function sortEntity(column) {
        // Checking if sorting the same column and if change sorting order
        if (sortedColumn == column) {
            sortingFactor *= -1;
        }
        else {
            sortedColumn = column;
            sortingFactor = 1;
        }
        // NodeList of all animals divs
        let entities = document.querySelectorAll('.entity');
        // Array of all animals divs
        let entitiesArray = Array.prototype.slice.call(entities, 0);
        // Sorting array by celected column
        entitiesArray.sort((a, b) => (a.children[column].innerHTML > b.children[column].innerHTML ? 1 * sortingFactor : -1 * sortingFactor));
        // Clear animals list and populate it with sorted animals
        let list = document.querySelector('.list');
        list.textContent = '';

        for (let i = 0; i < entities.length; i++) {
            list.appendChild(entitiesArray[i]);
        }
    }

    let sortedColumn = -1;
    let sortingFactor = 1;

    document.querySelectorAll('.sortOption').forEach(item => {
        item.addEventListener('click', event => {
            sortEntity(Array.from(item.parentNode.children).indexOf(item));
        });
    })

</script>