@page
@Html.AntiForgeryToken();
@model ZooBazaar_Desktop_App.Pages.ManualScheduleModel
@{
    ViewData["Title"] = "Schedule";
    ViewData["TabName"] = "Schedule";
    ViewData["Css"] = "~/css/ManualSchedule.css";
}
@section Scripts {
    <script>

        function AddEmployee(i, j) {
            $.ajax({
                url: 'ManualSchedule/?handler=AddEmployee',
                method: 'POST',
                dataType: 'json',
                data: {
                    i: i,
                    j: j,
                    employeeID: $("#employeeSlection option:selected").val(),
                },
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {

                    $("#amoutOfEmployees-" + i + "-" + j).text(result.amountOfEmployees);
                }
                
            });
        }




        $(document).bind("mousedown", function (e) {

            if (!$(e.target).parents(".custom-menu").length > 0) {

                $(".custom-menu").hide(100);
            }
        });




        function ContextMenu(i, j) {
            event.preventDefault();

            $("#contextmenu-" + i + "-" + j).finish().toggle(100).

                css({
                    top: event.pageY + "px",
                    left: event.pageX + "px"
                });
                $("#contextmenu-" + i + "-" + j +" li").click(function () {

                    switch($(this).attr("data-action")) {
        
                        case "first": alert(i+" "+j); break;
                        case "second": alert("second"); break;
                        case "third": alert("third"); break;
                    }

                    $("#contextmenu-" + i + "-" + j).hide(100);
                });
        }



    </script>
}
<div id="container">



    <div class="weekDays">
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
        <div>Sun</div>
    </div>
    <div class="schedule">
        @{
            <div>
                @{
                    for (int i = Model.startingHour; i <= Model.closingHour; i++)
                    {
                        <div class="hour">@(i):00 </div>
                    }
                }
            </div>
            for (int i = 0; i < 7; i++)
            {


                <div class="day">
                    @Model.datesOfWeek[i]
                    @{
                        for (int j = Model.startingHour; j <= Model.closingHour; j++)
                        {
                            if (Model.schedule[i][j] != null && Model.schedule[i][j].timeBlockId == j)
                            {
                                 <ul class='custom-menu' id="contextmenu-@i-@j">
                                    <li data-action="Remove employee from task">First thing</li>
                                    <li data-action="second">Second thing</li>
                                    <li data-action="third">Third thing</li>
                                </ul>
                                <button id ="block-@i-@j" oncontextmenu="ContextMenu(@i,@j)" onclick="AddEmployee(@i, @j)" class="timeBlock">@Model.schedule[i][j].taskName - @Model.schedule[i][j].taskHabitat - <p id="amoutOfEmployees-@i-@j" style="font-size: 15px; display: inline;"> @Model.Blocks.Find(x =>x.blockSchedule == Model.schedule[i][j]).amountOfEmployes</p>/@Model.schedule[i][j].EmployeesNeeded</button>
                            }
                            else
                            {
                                <button asp-route-weekDay="@i" asp-route-timeBlock="@j" class="timeBlock"></button>
                            }
 


                        }
                    }
                </div>
            }
        }
    </div>
    <div class="actionPanel">



        <label type="text">Employee:</label>
            <select required asp-for="@Model.employeeID" asp-items=@Model.Employees id="employeeSlection">
        </select>


    </div>
</div>