@page
@model ZooBazaar_ASP_NET.Pages.StaticScheduleModel
@{
    ViewData["Title"] = "Schedule";
    ViewData["TabName"] = "Schedule";
    ViewData["Css"] = "~/css/StaticSchedule.css";
}
@using ZooBazaar_DomainModels.Models;

<form method="post" id="container">
    <div class="weekDays">
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
        <div>Sun</div>
    </div>
    <div class="schedule">
        @{
            <div>
            @{
                for (int i = Model.startingHour; i <= Model.closingHour; i++)
                {
                    <div class="hour">@(i):00 </div>
                }
            }
            </div>
            for (int i = 0; i < 7; i++)
            {
                <div class="day">
                @{
                for (int j = Model.startingHour; j <= Model.closingHour; j++)
                {
                    if(Model.schedule[i][j] != null && Model.schedule[i][j].timeBlockId == j)
                    {
                        <button asp-page-handler="Delete" asp-route-weekDay="@i" asp-route-timeBlock="@j" formnovalidate class="timeBlock">@Model.schedule[i][j].taskName - @Model.schedule[i][j].taskHabitat - @Model.schedule[i][j].EmployeesNeeded</button>
                    }
                    else
                    {
                        <button asp-page-handler="Create" asp-route-weekDay="@i" asp-route-timeBlock="@j" class="timeBlock"></button>
                    }
                }
                }
                </div>
            }
        }
    </div>
    <div class="actionPanel">
        <label type="text" asp-for="@Model.taskName">New Task Name:</label>
        <select name="taskname" asp-for="@Model.taskName" asp-items="@Html.GetEnumSelectList<TASKNAME>()">
        </select>

        <label type="text">Zone:</label>
        <select asp-for="zoneID" onchange="this.form.submit();" asp-items=@Model.Zones>
            <option value="0"></option>
        </select>

        <label type="text">Habitat:</label>
        <select required asp-for="@Model.habitatID" asp-items=@Model.Habitats>
        </select>

        <label type="text">Employees Needed:</label>
        <select asp-for="@Model.employeesNeeded">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>
</form>